*.o
*.cmd
*.ko
*.order
*.d
*.mod.c
/.??*
initramfs.cpio
include/config/*
vmlinux*
Module.symvers
System.map
arch/arm/boot/zImage
arch/arm/boot/Image
arch/arm/boot/compressed/piggy.gz
arch/arm/kernel/asm-offsets.s
arch/arm/lib/lib.a
include/linux/autoconf.h
include/linux/compile.h
initramfs_root/init.rc
kernel/bounds.s
lib/lib.a
usr/initramfs_data.cpio.lzma

